@import '../../../styles/wrapperStyle.scss';

.feedbacks {
  @include wrapperStyle;
  height: 40vh;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    min-height: 100px;

    &__arrow {
      background: url(../../../styles/img/arrow.png);
      background-blend-mode: overlay;
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
      width: 30px;
      height: 30px;
      opacity: .6;
      // margin-top: auto;
      transition: opacity, scale .4s;
      margin: auto;

      &:hover {
        opacity: 1;
      }

      &:active {
        scale: 110%;
      }
    }

    .a-left {
      // grid-column: 4/6;
      transform: rotate(180deg);
    }
  }


}