$colorBiggestScr: gray;
$colorMineScr: green;
$colorNB: red;
$colorBigMob: blue;
$colorMidMob: darkorchid;
$colorSmallMob: tan;

$hoverOk: rgb(106, 160, 112);

$backgroundMenu: #e6dedef7;

$asd: linear-gradient(#d0ad21, #bfb079);