// $h1: 5rem;
// $h2: 4rem;
// $h3: 3rem;

// $biggest;
// $big;
// $mid;
// $small;
// $smaller;
$h1big: 5rem;
$h1mid: 4rem;

h2 {
  padding-top: 4rem;
}

$h3big: 3.2rem;
$h3mid: 2.7rem;
$h3Small: 2.2rem;

$bigText: 3rem;
$text: 2.5rem;
$smlText: 2rem;

$logoBig: 6.5rem;
$logo: 5rem;
$logoSmall: 4.5rem;


//mobile size
$mobLogoBig: 4.6rem;
$mobLogo: 3.8rem;
$mobLogoSmall: 3rem;

$mobH1Big: 5rem;
$mobH1: 3.5rem;
$mobH1Little: 2.8rem;
$mobH1Small: 2rem;

$mobH3Small: 2rem;

$mobBigText: 3rem;
$mobText: 2rem;
$mobTextLittle: 1.6rem;
$mobSmallText: 1.2rem;


@mixin subscriptionGuitLess {
  font-weight: bold;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#d0ad21, #bfb079);
}

$borderRadius: 5px;

$btnBackgound: rgba(249, 232, 210, 0.977);
$btnHover: rgb(248, 214, 170);
$btnActive: rgb(228, 246, 154);

$btnOk: #0c5c; // no use now
$btnBg2: #0d6efd; // no use now

$borderColor: rgba(0, 0, 0, 0.386);