//screen size
$biggestWidth: 1921px;
$mineWidth: 1920px; //mine width
$notebookWidth: 1439px;
$planshetWidth: 1279px;
$bigMobWidth: 1080px;
$midMobWidth: 720px;
$smallMobWidth: 500px;

//fonts
// $h1: 5rem;
// $h2: 4rem;
// $h3: 3rem;

$bigText: 2.5rem;
$midText: 2rem;
$smlText: 1.5rem;

//mobile size
$mobIcon: 50px;