.btn {
  padding: 0.8vh 1vw;
  background-color: #4CAF50;
  border: 1px solid green;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  display: block;

}

.btn:hover {
  background-color: #3e8e41;
}

.checkMe {
  text-align: center;
  font-size: 42px;
  padding-bottom: 70px;
}

.video {
  display: flex;
  justify-content: space-evenly;
}