@import '../../../styles/wrapperStyle.scss';
@import '../../../styles/generalStyles';
@import '../../../styles/screenSize.scss';
@import '../../../styles/colors.scss';

.feedbacks {
  @include wrapperStyle;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    min-height: 100px;
    margin-bottom: 3rem;

    &__arrow {
      background: url(../../../styles/img/arrow.png);
      background-blend-mode: overlay;
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
      width: 30px;
      height: 30px;
      opacity: .6;
      transition: opacity, scale .4s;
      margin: auto;

      &:hover {
        opacity: 1;
      }

      &:active {
        scale: 110%;
      }
    }
  }

  &__add {
    display: grid;
    width: 50vw;
    margin: auto;
    justify-content: space-between;

    &__name {
      display: grid;
      grid-column: 1/2;
      align-items: center;
      border-radius: $borderRadius;
      border: 1px solid $borderColor;
      text-align: center;
      width: 39vw;
      margin-bottom: 1rem;
      padding: 1rem;
    }

    &__description {
      display: grid;
      grid-column: 1/3;
      border-radius: $borderRadius;
      border: 1px solid $borderColor;
      resize: none;
      overflow: hidden;
      padding: 1rem;
      height: 10rem;
    }

    &__btn {
      background-color: $btnBackgound;
      display: grid;
      grid-column: 2/3;
      grid-row: 1/2;
      border: none;
      border-radius: $borderRadius;

      align-items: center;
      margin-bottom: 1rem;
      width: 10vw;

      &:hover {
        background-color: $btnHover;
      }

      &:active {
        background-color: $btnActive;
      }
    }
  }
}

.a-left {
  transform: rotate(180deg);
}

@media (max-width: $midMobWidth) {
  h2 {
    font-size: $mobH1;
  }

  .feedbacks__add {
    display: flex;
    flex-direction: column;
    width: 60vw;

    &__btn {
      font-size: $mobTextLittle;
      height: 3.5rem;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 0;
    }

    &__name {
      font-size: $mobTextLittle;
      height: 3.5rem;
      width: 100%;

    }

    &__description {
      height: 10.5rem;
      text-align: center;
      font-size: $mobTextLittle;
    }
  }
}

@media (max-width: $betwMobWidth) {
  .feedbacks {
    display: none;
  }
}