.lending-from {
  margin: 0rem auto;
  width: 90vw;
  height: 400px;
}

.form-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.form-label {
  padding-bottom: 3px;
  font-size: 18px;
}

.form-item-input {
  padding-bottom: 5px;
  font-size: bold;

}

.form-item-agree {
  padding-bottom: 12px;
  font-size: 13px;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
  height: 18px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%)
}

.form-btn {
  padding: .375rem .75rem;
  background-color: #0d6efd;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;


}

.form-btn:hover {
  background-color: #0c5c de;
}