@import '../../styles/generalStyles';
@import '../../styles/screenSize.scss';
@import '../../styles/colors.scss';

.bg {
  // position: relative;
  height: 93vh;
  background: url(../../styles/assets/img/BGphoto.JPG), rgba(21, 21, 21, 0.623);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  z-index: -1;
  opacity: .9;
}

@media (max-width: $bigMobWidth) {
  .bg {
    height: 93vh;
    background-image: none;
    background: linear-gradient(rgb(117, 117, 245), rgb(240, 211, 149))
  }
}