@import '../../../styles/generalStyles';
@import '../../../styles/screenSize.scss';
@import '../../../styles/colors.scss';



.offer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 93vh;
  margin: 0 auto;
  padding: 15% 0;
  color: #f0eeee;

  &__title {
    padding-bottom: 5rem;
  }

  &__text {
    padding: 0;
    padding-bottom: 1rem;
    margin: 0;
  }

  &__button {
    width: 33.333%;
    height: 3.5rem;
    font-weight: bold;
  }

  .hidden500 {
    padding: 5rem 0;
  }
}


@media (max-width: $mineWidth) {
  .offer {
    &__title {
      font-size: 3rem;
    }

    &__text {
      font-size: 2.2rem;
    }

    &__button {
      font-size: 1.4rem;
      width: 33.333%;
    }
  }
}

@media (max-width: $bigMobWidth) {
  .offer {
    max-width: $bigMobWidth;

    &__title {
      text-align: center;
      font-size: $mobH1Big;
    }

    &__text {
      text-align: center;
      font-size: $mobBigText;
    }

    &__button {
      margin: auto;
      width: auto;
      height: 6rem;
      font-size: $mobBigText;

    }
  }
}

@media (max-width: $midMobWidth) {
  .offer {
    max-width: $midMobWidth;
    padding: 40% 0;

    &__title {
      font-size: $mobH1;
    }

    &__text {
      font-size: $mobText;
    }

    &__button {
      font-size: $mobText;
      width: 40rem;
      height: 3.5rem;
    }
  }
}

@media (max-width: $betwMobWidth) {
  .hidden500 {
    display: none;
  }

  .offer {
    max-width: $betwMobWidth;
    padding: 50% 0;

    &__title {
      font-size: 3rem;
    }

    &__text {
      font-size: 1.6rem;
    }

    &__button {
      font-size: 1.6rem;
      width: 30rem;
      height: 3rem;
    }
  }
}

@media (max-width: $smallMobWidth) {
  .offer {
    &__title {
      font-size: $mobH1Small;
    }

    &__text {
      font-size: $mobSmallText;
    }

    &__button {
      font-size: $mobSmallText;
      width: 20rem;
    }
  }
}