.sticky {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;

  padding: .5rem 7rem;
  font-family: Monotype Corsiva;
  font-size: 2.7rem;
  font-weight: bold;
  background: rgb(252, 252, 252);
  z-index: 1;
}