@import "../../../styles/colors.scss";

.menu {
  position: absolute;
  top: 5.5rem;
  display: grid;
  grid-template-rows: repeat(3, 3.5rem);
  width: auto;
  height: 12rem;
  background: $backgroundMenu;
  padding: 1rem .6rem;
  border-radius: 12px;

  &-link {
    color: inherit;
    text-decoration: none;
    font-size: 2.3rem;
    font-weight: bold;
    color: rgb(43, 43, 43);

    &:hover {
      color: $hoverOk;
    }
  }
}